@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+QLD:wght@100..400&display=swap');

h1{
    font-family: "Playwrite AU QLD", cursive;
    color: white;
    text-shadow: 5px 2px 1px rgba(0, 0, 0, 0.5);
}
p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    text-shadow: 5px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
}